## Workings for analysis of the Anscombe's dataset assignment

In [21]:
# Importing packages thought to be required for analysis. 
# Packages not required can be removed later for final notebook.

import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

The cell below shows that the dataset has been defined as df and loaded in to the terminal correctly as it is able to describe each of the columns and count the number of observations in each row.
It indicates that there are 11 samples contained in each column meaning no changes to the dataset are required before the analysis. We know this is correct as in Anscombe's original work it stated that the number of observations was 11.

In [26]:
# Print the characteristics for each column contained in the Anscombe's data set

df = pd.read_csv('anscombe.csv', usecols=['x1', 'x2', 'x3', 'x4', 'y1', 'y2', 'y3','y4'])
print(df.describe())
print(df.count())

              x1         x2         x3         x4         y1         y2  \
count  11.000000  11.000000  11.000000  11.000000  11.000000  11.000000
mean    9.000000   9.000000   9.000000   9.000000   7.500909   7.500909
std     3.316625   3.316625   3.316625   3.316625   2.031568   2.031657
min     4.000000   4.000000   4.000000   8.000000   4.260000   3.100000
25%     6.500000   6.500000   6.500000   8.000000   6.315000   6.695000
50%     9.000000   9.000000   9.000000   8.000000   7.580000   8.140000
75%    11.500000  11.500000  11.500000   8.000000   8.570000   8.950000
max    14.000000  14.000000  14.000000  19.000000  10.840000   9.260000

              y3         y4
count  11.000000  11.000000
mean    7.500000   7.500909
std     2.030424   2.030579
min     5.390000   5.250000
25%     6.250000   6.170000
50%     7.110000   7.040000
75%     7.980000   8.190000
max    12.740000  12.500000
x1    11
x2    11
x3    11
x4    11
y1    11
y2    11
y3    11
y4    11
dtype: int64

In [28]:
#Scatter plot of data from columns
df2 = sns.load_dataset("anscombe")
x = df(:,0,1,2,3)
y = (:,4,5,6,7)

sns.set_style("whitegrid")
plt.scatter(x,y)

SyntaxError: invalid syntax (<ipython-input-28-34bdf0123782>, line 3)

2. Calculation of the mean of the x Values in the dataset

In [42]:
#MeanX = np.mean(x)
#print(MeanX)
# Code lines above printed incorrect value as it was not using all x values spread across the 4 x columns in the dataset.

# Code lines below combine all x value containing columns from the dataset into an array and calculates the mean which is correct as per the original analysis by Anscombe as the value computes to 9.

x2 = df[['x1', 'x2', 'x3', 'x4']].values
Meanx2 = np.mean(x2)
print('The mean of the X values in the dataset is', Meanx2)

The mean of the X values in the dataset is 9.0

In [41]:
# Calculating the mean value of the y values

y2 = df[['y1', 'y2', 'y3', 'y4']].values
Meany2 = float (np.mean(y2))
print('The mean of the Y values in the dataset is', Meany2)

# Rounding of decimal places of the answer - to be investigated further to see if this can be printed to this value in previous print statement
# Calculation is correct as per original study.

print('This value can be rounded to', round(7.501, 2))

The mean of the Y values in the dataset is 7.500681818181818
This value can be rounded to 7.5